<?xml version="1.0"?>
<!--
	SiteSettings.config
	
	Miscellaneous settings for the site.
	
	TODO: Set `@siteName`
	TODO: Set `<assetsFolder>`
	TODO: Set Typekit or similar in `<webfontScripts>`?
	TODO: Remove robots restrictions?
-->
<SiteSettings siteName="">
	
	<Deployment>
		<assetsFolder>A0F0</assetsFolder>
		<webfontScripts></webfontScripts>
		<robots>noindex,nofollow</robots>
	</Deployment>
	
</SiteSettings>
